{% extends "base.html" %}

{% block title %}Головна{% endblock %}

{% block content %}

<div class="text-box">
    <div class="b-radius">

        <div class="box-row">

            <div class="box-left">
                <span class="line1">Ласкаво просимо до <a href= "http://127.0.0.1:5000">Вікіпедії</a> (<a href= "https://uk.wikipedia.org/wiki/Вікіпедія">ВікіпедіЯ</a>),</span><br>
                <span class="line2">вільної енциклопедії, яку <a href= "https://uk.wikipedia.org/wiki/Вікіпедія:Ласкаво_просимо">може редагувати кожен</a>.</span><br>
                <span class="line3"><a href= "https://uk.wikipedia.org/wiki/Українська_Вікіпедія">Українська Вікіпедія</a> заснована <a href= "https://uk.wikipedia.org/wiki/30_січня">30 січня</a> <a href= "https://uk.wikipedia.org/wiki/2004">2004</a> року</a>.</span><br>

            <div class="meta-links">
                <a href="https://uk.wikipedia.org/wiki/Вікіпедія:Про_нас">Про нас</a>
                <a href="https://uk.wikipedia.org/wiki/Довідка:Як_орієнтуватися_у_Вікіпедії/1">Навігація</a>
                <a href="https://uk.wikipedia.org/wiki/Портал:Вміст">Зміст</a>
                <a href="https://uk.wikipedia.org/wiki/Довідка:Реєстрація">Реєстрація</a>
                <a href="https://uk.wikipedia.org/wiki/Вікіпедія:Довідка">Довідка</a>
                <a href="https://uk.wikipedia.org/wiki/Вікіпедія:Вікіпроєкт">Проекти</a>
            </div>
            </div>

            <div class="box-right">
                <b>субота, 21 лютого 2026 року</b><br>
                <b>1 408 067</b> статей українською<br>
                <b>228 052</b> зареєстровані дописувачі<br>
                <b>4261</b> з них активні остннього місяця
            </div>

        </div>

    </div>

    <div class="meta-links bottom-links">
        <a href="#">Біографії</a>
        <a href="#">Географія</a>
        <a href="#">Природа</a>
        <a href="#">Спорт</a>
        <a href="#">Технології</a>
        <a href="#">Україна</a>
        <a href="#">Філософія</a>
        <a href="#">Наука</a>
    </div>

</div>





{% endblock %}


