body {
    font-family: Arial, sans-serif;
    max-width: 2000px;
    margin: auto;
    padding: 20px
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
}

.post {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

img {
    max-width: 100%;
    max-height: 350px;
}

a img {
    width: 120px;
    height: auto;
}

.b-radius {
    border: 1px solid grey;
    background-image: radial-gradient(circle at center center, transparent,rgb(255,255,255)),linear-gradient(309deg, rgba(90, 90, 90,0.05) 0%, rgba(90, 90, 90,0.05) 50%,rgba(206, 206, 206,0.05) 50%, rgba(206, 206, 206,0.05) 100%),linear-gradient(39deg, rgba(13, 13, 13,0.05) 0%, rgba(13, 13, 13,0.05) 50%,rgba(189, 189, 189,0.05) 50%, rgba(189, 189, 189,0.05) 100%),linear-gradient(144deg, rgba(249, 249, 249,0.05) 0%, rgba(249, 249, 249,0.05) 50%,rgba(111, 111, 111,0.05) 50%, rgba(111, 111, 111,0.05) 100%),linear-gradient(166deg, rgba(231, 231, 231,0.05) 0%, rgba(231, 231, 231,0.05) 50%,rgba(220, 220, 220,0.05) 50%, rgba(220, 220, 220,0.05) 100%),linear-gradient(212deg, rgba(80, 80, 80,0.05) 0%, rgba(80, 80, 80,0.05) 50%,rgba(243, 243, 243,0.05) 50%, rgba(243, 243, 243,0.05) 100%),radial-gradient(circle at center center, hsl(107,19%,100%),hsl(107,19%,100%));;
}


.b-radius2 {
    background-image: linear-gradient(224deg, transparent 0%, transparent 30%,rgba(249, 249, 249,0.02) 30%, rgba(249, 249, 249,0.02) 36%,transparent 36%, transparent 100%),linear-gradient(345deg, transparent 0%, transparent 53%,rgba(140, 140, 140,0.02) 53%, rgba(140, 140, 140,0.02) 63%,transparent 63%, transparent 100%),linear-gradient(284deg, transparent 0%, transparent 28%,rgba(1, 1, 1,0.02) 28%, rgba(1, 1, 1,0.02) 38%,transparent 38%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}


.text-box div {
    margin: 10px 0;
}

.line1 {
    font-size: 30px;
    font-weight: Semi Bold;
}

.line2 {
    font-size: 23px;
}

.line3 {
    font-size: 18px;
}

.line4 {
    font-size: 18px;
}



a {
    color: rgb(125, 96, 176);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: rgb(82, 56, 127);
}

.box-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.box-left {
    flex: 1;
}

.box-right {
    width: 250px;
    font-size: 14.5px;
}



/* БУЛО
.meta-links {
    display: flex;
    gap: 180px;
    padding-top: 20px;
    padding-bottom: 0px;
}

.bottom-links {
    margin-top: 6px;
}*/

/*СТАЛО*/

.meta-links {
    display: flex;
    justify-content: space-around; /* рівномірний відступ між елементами всередині div */
    flex-wrap: wrap; /* щоб переносились на новий рядок якщо їх дуже багато*/

}

.meta-links a {
    padding: 20px;
    text-decoration: none;
}

.post p { /*обмеження кількості символів у "превью" статті */
    max-width: 60ch;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}





/* Общая сетка */
.main-panels{
    display:grid;
    grid-template-columns: 2fr 1fr;
    gap:15px;
    margin-top:15px;
}

/* Общая карточка */
.panel{
    border:1px solid #a2a9b1;
    background:#f8f9fa;
}

/* Заголовок */
.panel-header{
    background:#eaecf0;
    padding:8px;
    border-bottom:1px solid #a2a9b1;
    font-size:18px;
}

/* Контент */
.panel-content{
    padding:12px;
    position:relative;
}

/* Фото */
.panel-image{
    float:right;
    width:150px;
    margin-left:10px;
}

/* Правая колонка */
.side-panels{
    display:flex;
    flex-direction:column;
    gap:15px;
}

/* Список */
.panel-list{
    padding:12px 20px;
}

.panel-list li{
    margin-bottom:8px;
}

/* Кнопка */
.read-more{
    display:inline-block;
    margin-top:10px;
    padding:5px 10px;
    border:1px solid #a2a9b1;
    background:white;
    text-decoration:none;
}