body {
    font-family: Arial, sans-serif;
    max-width: 2000px;
    margin: auto;
    padding: 20px
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
}

.post {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

img {
    max-width: 100%;
    max-height: 350px;
}

a img{
    width: 100px;
    height: auto;
}
